header {
  background-color: $black-90;
  padding-top: $spacing-m;
  padding-bottom: $spacing-xs;
  
  @media only screen and (min-width: $break-sm) {
    padding-bottom: $spacing-m;
  }
} 

.header__title {
  max-width: 900px;
  color: $white;
}