$bullet-size: 7 /16 + rem;
$bullet-color: $primary-color;

.bullet-list {
    margin: 0;
    margin-bottom: $spacing-m;
    padding: 0;

    li {
        list-style: none;
        padding-left: 15px;
        position: relative;
        line-height: 22/16 + rem;

        &:not(:last-child) {
            margin-bottom: $spacing-xs;
        }
    }

    li:before {
        content:"";
        width: $bullet-size;
        height: $bullet-size;
        background-color: $primary-color;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 0;
        top:  7/16 + rem;
    }
}

.step {
    margin-bottom: $spacing-xl;
}

.steps-list {
    margin: 0;
    padding: 0;

    li{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing-s;
        padding-left: 15px;
        position: relative;
        line-height: 22/16 + rem;

        &:last-child {
            margin-bottom: 0;
        }

        @media only screen and (min-width: $break-xs) {
            flex-direction: row;
        }

        
        &.step-list__bullet {
            &:before {
                content:"";
                width: $bullet-size;
                height: $bullet-size;
                background-color: $primary-color;
                border-radius: 50%;
                display: block;
                position: absolute;
                left: 0;
                top:  7/16 + rem;
                transform: none;
            }

        }
    }
    
    .step-list__icons {
        display: flex;
    }
    
    .step-list__icon {
        width: 40px;
        height: 65px;
        position: relative;

        img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            min-width: 100%;
            max-width: none;
        }
    }
    
    .step-list__arrow {
        padding: 0 $spacing-xxs;
        padding-bottom: $spacing-m;
        min-width: 40px;
    }

    .step-list__text {
        margin-top: $spacing-xxs;
        padding-left: 15px;
        position: relative;
        line-height: 22/16 + rem;

        &:before {
            content:"";
            width: $bullet-size;
            height: $bullet-size;
            background-color: $primary-color;
            border-radius: 50%;
            display: block;
            position: absolute;
            left: 0;
            top:  7/16 + rem;
            transform: none;
        }

        @media only screen and (min-width: $break-xs) {
            margin-top: 0;
            margin-left: $spacing-m;
        }
    }
}