$bullet-size: 6/16 + rem;

.sidebar{
    will-change: min-height;
    padding: 0;
}

.sidebar__inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

.outline {
    margin: 0;
    padding: 0;
    padding-right: $spacing-s;

    a {
        text-decoration: none;
        display: block;
    }

    li {
        list-style: none;
        font-size: 21/16 + rem;

        li {
            font-size: 14/16 + rem;
            position: relative;
            padding-left: 18px;

            a {
                font-weight: normal;
                padding-bottom: $spacing-xs;
            }

            &:before {
                content:"";
                width: $bullet-size;
                height: $bullet-size;
                border: 1.5px solid $black-20;
                border-radius: 50%;
                display: block;
                position: absolute;
                left: 0;
                top:  4/16 + rem;
            }
        }
    }

    > li {
        border-bottom: 0.5px solid $black-20;

        &>a {
            padding: $spacing-s 0;
        }

        &:first-child {
            border-top: 0.5px solid $black-20;
        }
    }

    ul {
        padding: 0;
        padding-bottom: $spacing-xs;
    }
}