.device-screen-card {
    height: 100%;
    justify-content: space-between;
}

.device-screen {
    text-align: center;
    img {
        max-width: 240px;
    }
}

.steps-card {
    margin-bottom: $spacing-m;
}