// Blacks
$black: #000000;
$black-90: #1E1E1E;
$black-80: #4A4A49;
$black-20: #CCCCCC;

// Whites
$white: #FFFFFF;
$white-90: #FBFAF7;


// Brand colors
$yellow: #FFA51E;
$green: #00AA46;
$purple: #7D00FF;

//Semantic names
$primary-color: $yellow;

// typeface
$typeface: SuisseIntl;

@font-face {
  font-family: 'SuisseIntl';
  src: url('/public/assets/fonts/SuisseIntl-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('/public/assets/fonts/SuisseIntl-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/assets/fonts/SuisseIntl-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('/public/assets/fonts/SuisseIntl-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/assets/fonts/SuisseIntl-SemiBold.svg#SuisseIntl-SemiBold') format('svg'); /* Legacy iOS */
  font-style: bold;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/public/assets/fonts/SuisseIntl.eot'); /* IE9 Compat Modes */
  src: url('/public/assets/fonts/SuisseIntl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/assets/fonts/SuisseIntl.woff') format('woff'), /* Modern Browsers */
       url('/public/assets/fonts/SuisseIntl.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/assets/fonts/SuisseIntl.svg#SuisseIntl') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: $black-80;
  background-color: $white-90;
  font-family: $typeface;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $black-80;
  font-weight: bold;
  transition: color 0.15s ease-out;

  &:hover {
    color: $primary-color;
  }
}

// Vendor
@import "/vendor/normalize";


// Layout
@import "/layout/grid";
@import "/layout/spacing";
@import "/layout/layout";


// Components
@import "/components/titles";
@import "/components/header";
@import "/components/lists";
@import "/components/card";
@import "/components/link";
@import "/components/outline";

// Pages
@import "/pages/cross-border";
